//color
$white: #FFFFFF;
$green: #5BC12C;
$red: #EB5757;

//screen width
$tablet: 768px;
$mobile: 576px;

//breakpoints
$bp-1: 972px;
$bp-2: 898px;

//bacgrounds
$bg: #131417;


//fonts
$basic-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
