.header {
  background-color: $bg;
  padding-top: 18px;
  padding-bottom: 18px;
  box-shadow: 0 4px 4px rgba(19, 20, 23, 0.4);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
  }

  &__logo-icon {
    height:  46px;
    color: $white;
    margin: auto;
  }

  &__link {
    text-decoration: none;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    @include mobile {
      margin-left: auto;
    }
  }

  &__tel-icon {
    height: 24px;
    width: 24px;
    color: $green;
    margin-right: 10px;
  }

  &__tel-number {
    font: 18px/24px $basic-family;
    font-weight: 500;
    color: $white;

    @include bp-2 {
      display: none;
    }

    @include tablet {
      display: inline-block;
    }

    @include mobile {
      display: none;
    }
  }

  &__burger {
    display: none;
    width: 22px;
    height: 12px;
    background-color: $bg;
    border-top: 2px solid #F2994A;
    border-bottom: 2px solid #F2994A;
    border-left: 0;
    border-right: 0;
    cursor: pointer;

    @include tablet {
      display: flex;
    }
  }

  &__burger-line {
    height: 2px;
    width: 100%;
    background-color: #F2994A;
    margin: auto;
  }
}