.header {
  background-color: $bg;
  padding-top: 18px;
  padding-bottom: 18px;
  box-shadow: 0 4px 4px rgba(19, 20, 23, 0.4);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    border: 4px solid #2D9CDB;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
  }

  &__logo-icon {
    height: 13px;
    width: 29px;
    color: $white;
    margin: auto;
  }

  &__link {
    text-decoration: none;
    padding: 8px;
    display: flex;
    justify-content: space-between;
  }

  &__tel-icon {
    height: 24px;
    width: 24px;
    color: $green;
  }

  &__tel-number {
    font: 18px/24px $basic-family;
    font-weight: 500;
    color: $white;

    @include bp-2 {
      display: none;
    }
  }
}